extends layout

block content
  .container
    h2.form-register-heading Please change your password 
    form.registerForm(method='post', action='/changepassword2')
      input.inputPassword.form-control(type='password', ng-model='yourPass', name='oldpass', placeholder='Enter your current password here')
      input.inputNewPassword.form-control(type='password', ng-model='yourPass', name='newpass', placeholder='Enter your new password here')
      input.inputRepeatNewPassword.form-control(type='password', ng-model='yourPass', name='newpass2', placeholder='Repeat your new password here')
      br
      input.btn.btn-medium.btn-success(type='submit', ng-model='yourSubmit', name='submit', value='Change password')
      br
      br
      a.btn.btn-medium.btn-info(href="/profile")= "Back"
      br    