extends layout

block content
    div(align='center')
      h1 Annonymous Surveys App 
      h2 Change your password
    div(align='center', ng-app='ng-app')
      hr
      form#signInForm(method='post', action='/changepassword2')
        label Your current password:
        br
        input(type='password', ng-model='yourPass', name='oldpass', placeholder='Enter a current password here')
        br
        label Your new password:
        br
        input(type='password', ng-model='yourPass', name='newpass', placeholder='Enter a new password here')
        br
        input(type='password', ng-model='yourPass', name='newpass2', placeholder='Repeat a new password here')
        br
        input(type='submit', ng-model='yourSubmit', name='submit', value='Change password')
      hr