extends layout
block content
	div(align='center', class='jumbotron')
		p You have filled this survey. Those are your answers.
			each q in answerlist
					- for(var n = 0; n < q.questionsamount; n++)
						hr
						h1= q.questions[n]
						label Your answer(s):
						h2= q.answers[n]
		br
		br
		a.btn.btn-medium.btn-info(href="/profile")= "Back"
		br
		br


