extends layout
block content
	div.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
		div.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
			div.container
				button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
				a.navbar-brand
					| Annonymous Survey App
				div.nav.navbar-nav.navbar-right
					li
						a(href="/profile")= "Back"
		div.collapse.navbar-collapse
	div(align='center', class='jumbotron')
		p You have filled this survey. These are your answers.
		div(align='center', class='row')
			h1 #{surveyname.surveyname}
			div.col-md-6(align='left')
				h2 Questions
			div.col-md-6(align='center')
				h2 Answers
			each q in answerlist
				div(align='center', class='row')
					- for(var n = 0; n < q.questionsamount; n++)
						- var toDisplay = String(n+1) + ". " + questionlist[n]
						div.col-md-6(align='left')
							h3= toDisplay
						div.col-md-6(align='center')
							h3= q.answers[n]


