extends layout

block content
  div.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
        div.container
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            a.navbar-brand
                | Annonymous Survey App
            div.nav.navbar-nav.navbar-right
                    li
                        a(href='/profile') Back to profile   
        div.collapse.navbar-collapse
    div(align='center')
      h1 Survey Creator 
      h3 Please add emails of people you want to invite to this survey.
      h3 Survey ID: #{getsurveyid}
    div(align='center', ng-app='ng-app')
        textarea#emails(rows='10', cols='50', name='emails')
        table.table-condensed
          thead
            th
              button.btn.btn-medium.btn-success(type='submit', ng-model='yourButton', name='emailsubmit', onclick='addemailaddress()') Add emails to list
            th
              button.btn.btn-default(onclick='help()', type='button')
                span.glyphicon.glyphicon-question-sign(aria-hidden='true')
                |   Help         
        form#addusertosurvey(method='post', action='/adduserstosurvey')
          br
          input(type='hidden', name='surveyid', value= getsurveyid)
          input(type='hidden', name='startdate', value= getstartdate)
          div#emailsform
            div#endemailsform
          br
          hr
          button.btn.btn-medium.btn-info(type="submit" form="addusertosurvey" value="addemails") Add emails to survey
          br
          br
    script(type='text/javascript').
      function addemailaddress(){
          var allinput = "";
          var input = "";
          var regexmail = /^\w+[\w-\.]*\@\w+((-\w+)|(\w*))\.[a-z]{2,3}$/;
          var emails = document.getElementById("emails").value;
          var res = emails.split(/[-;,' '\n]/);
          for(var i = 0; i< res.length;i++){
              if(res[i].match(regexmail)){
                  input = '<input type="checkbox" name="email" value='+res[i]+' checked>'+res[i]+'<br>';
                  allinput = allinput + input;
              }
          }
          var newtype = document.createElement("div");
          //newtype.setAttribute("id", answerno);
          newtype.innerHTML = allinput;
          var div = document.getElementById("emailsform");
          var enddiv = document.getElementById("endemailsform");
          div.insertBefore(newtype, enddiv); 
      }
      function help(){
            alert("1. Add emails that you want to invite to survey\n2. You can add emails seperated by space, comma or in new line(after enter)\n3. Click 'Add emails to list'. List of emails will be shown\n4. You can still add new emails and reject existing\n5. Click 'Add emails to survey'. Your survey is complete\n You can always invite new people from your profile page");
      }
      