extends layout

block content
  div.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
        div.container
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            a.navbar-brand
                | Annonymous Survey App
            div.nav.navbar-nav.navbar-right
                    li
                        a(href='/profile') Back   
        div.collapse.navbar-collapse
    div(align='center')
      h1 Survey Creator 
      h3 Please add e-mails of people you want to invite to this survey.
      h3 Survey ID: #{getsurveyid}
    div(align='center', ng-app='ng-app')
        textarea#emails(rows='10', cols='50', name='emails')
        table.table-condensed
          thead
            th
              button.btn.btn-medium.btn-success(type='submit', ng-model='yourButton', name='emailsubmit', onclick='addemailaddress()') Add e-mails to list
            th
              button.btn.btn-default(onclick='help()', type='button')
                span.glyphicon.glyphicon-question-sign(aria-hidden='true')
                |   Help         
        form#addusertosurvey(method='post', action='/adduserstosurvey')
          br
          input(type='hidden', name='surveyid', value= getsurveyid)
          input(type='hidden', name='startdate', value= getstartdate)
          div#emailsform
            div#endemailsform
          br
          hr
          button.btn.btn-medium.btn-info(type="submit" form="addusertosurvey" value="addemails") Add emails to the survey
          br
          br
    script(type='text/javascript').
      function addemailaddress(){
          var allinput = "";
          var input = "";
          var regexmail = /^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$/;
          var emails = document.getElementById("emails").value;
          var res = emails.split(/[-;,' '\n]/);
          for(var i = 0; i< res.length;i++){
              if(res[i].match(regexmail)){
                  input = '<input type="checkbox" name="email" value='+res[i]+' checked>'+res[i]+'<br>';
                  allinput = allinput + input;
              }
          }
          var newtype = document.createElement("div");
          //newtype.setAttribute("id", answerno);
          newtype.innerHTML = allinput;
          var div = document.getElementById("emailsform");
          var enddiv = document.getElementById("endemailsform");
          div.insertBefore(newtype, enddiv); 
      }
      function help(){
            alert("1. Add e-mails of people that you want to invite to this survey\n2. You can add e-mails seperated by a space, a comma or in a new line (after enter)\n3. Click 'Add e-mails to list'. List of e-mails will be shown below\n4. You still can add new e-mails and reject already existing\n5. Click 'Add e-mails to the survey'. Now your survey is done!\n You can always invite more people from your profile page");
      }
      