extends layout

block content
    div(align='center')
      h1 Survey Creator 
      h2 There is a place where you can create your survey!
    div(align='center', ng-app='ng-app')
      hr
      form#signInForm(method='post', action='/addsurvey')
        label Survey's name:
        br
        input(type='text', ng-model='yourSurveyName', name='surveyname', placeholder='Surveys name')
        hr
        label Question:
        br
        input(type='text', ng-model='yourQuestion', name='question', placeholder='Question')
        hr
        label Answer:
        p#demo
        p#demo2
        hr
        button.btn.btn-medium.btn-info(type="submit" form="signInForm" value="addsurvey") Add Survey
        //input(type='submit', ng-model='yourSubmit', name='submit', value='Add Survey')
        br
        br
      a.btn.btn-medium.btn-primary(href="/profile")= "Profile"
    script(type='text/javascript').
      var list = '<select onchange="addanswer(this.value)"><option value=""></option><option value="radio">radio</option></select>';
      var info = "Choose option of answer:<br>";
      document.getElementById("demo").innerHTML = info+list;
      function addanswer(w){
        if(w=="")
          document.getElementById("demo2").innerHTML = "";
        else if(w=="radio")
          var answer = '<input type="radio" name="answer" value="yes" checked>Yes<br><input type="radio" name="answer" value="no">No';
          var answertype ='<input type="hidden" name="answertype" value='+w+'>'; 
          document.getElementById("demo2").innerHTML = answer+answertype;
      }
