extends layout

block content
	div(align='center')
		div(align='center', ng-app='ng-app', class='jumbotron')
			h2 Here you can change your password
			form#form1(action='/setnewpassword', method='post')
				table.table.table-condensed
					thead
							th                     
							th
							th
							th                           
					tbody
						tr
							td.col-md-3
							td.col-md-2
								strong Your email:
							|                     
							td.col-md-4
								input(type='text', name='youremail', value=info.useremail, readonly,size="24")
							|        
							td.col-md-3
						tr             
							td.col-md-3
							td.col-md-2
								strong Your name:
							|                     
							td.col-md-4
								input(type='text', name='yourname', value=info.username,size="24")
							|        
							td.col-md-3
							|     
						tr             
							td.col-md-3
							td.col-md-2
								strong Your surname:
							|                     
							td.col-md-4
								input(type='text', name='yoursurname', value=info.usersurname,size="24")
							|        
							td.col-md-3
							|    
						tr             
							td.col-md-3
							td.col-md-2
								strong Type new password:
							|                     
							td.col-md-4
								input(type='password', name='yournewpass', placeholder='Enter new password here',size="24")
							|        
							td.col-md-3
							|    
						tr             
							td.col-md-3
							td.col-md-2
								strong Repeat new password:
							|                     
							td.col-md-4
								input(type='password', name='yournewpass2', placeholder='Repeat new password here',size="24")
							|        
							td.col-md-3
							|  
			button.btn.btn-medium.btn-info(type='submit', form='form1', value='OK') OK	 	        