extends layout

block content
	div.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
		div.container
			button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
			a.navbar-brand(href="/profile")
				| Annonymous Survey App
			div.nav.navbar-nav.navbar-right    
				li
					a(href="/profile")= "Back"		
		div.collapse.navbar-collapse
	div(align='center', class='jumbotron')
		div(align='center', ng-app='ng-app')
			if info
				h2 #{info}
				a.btn.btn-medium.btn-info(href="/")= "Back"
			else
				h2 Enter your e-mail
				div.col-md-4(align='left')
				div.col-md-3(align='center')
					form#form1(action='/forgotpasswordsendemail', method='post')
						input.form-control(type='text', name='youremail', placeholder='Enter your e-mail here')
				div.col-md-1(align='left')
					button.btn.btn-medium.btn-info(type='submit', form='form1', value='OK') OK