extends layout

block content
	div(align='center')
		div(align='center', ng-app='ng-app')
			h2 Enter your new password
			form#form1(action='/setnewpassword', method='post')
				input(type='text', name='youremail', value=info.useremail, readonly)
				br
				input(type='text', name='yourname', value=info.username)
				br
				input(type='text', name='yoursurname', value=info.usersurname)
				br
				input(type='password', name='yournewpass', placeholder='Enter your password here')
				br
				input(type='password', name='yournewpass2', placeholder='Repeat your password here')
				br
				button.btn.btn-medium.btn-info(type='submit', form='form1', value='OK') OK