extends layout

block content
	div(align='center')
		div(align='center', ng-app='ng-app')
			h2 Enter your e-mail
			form#form1(action='/forgotpassword2', method='post')
				input(type='text', name='youremail', placeholder='Enter your e-mail here')
				button.btn.btn-medium.btn-info(type='submit', form='form1', value='OK') OK