extends layout
block content
	.container
		h2.form-register-heading Please register your account
		form.registerForm(name="adduser", method="post", action="/adduser")
			input.inputName.form-control(type="text", name="username",placeholder='Enter your name here',onBlur="validateName(this.value)")
			p#validname
			input.inputSurname.form-control(type='text', name='usersurname', placeholder='Enter your surname here', onBlur="validateSurname(this.value)")
			p#validsurname
			input.inputEmail.form-control(type="text", placeholder='Enter your e-mail here', name="useremail",onBlur="validateEmail(this.value)")
			p#validEmail
			input.inputPassword.form-control(type='password', name='userpassword', placeholder='Enter your password here')
			input.inputRepeatPassword.form-control(type='password', name='userrepeatpassword', placeholder='Repeat your password',onBlur="validatePassword(this.value)")
			p#validPass
			br
			input.btn.btn-medium.btn-success(type='submit', ng-model='yourSubmit', name='submit', value='Register')
			br
			br 
		if error
			.alert.alert-danger(role='alert')= error
	script(type='text/javascript').
		function validateName(val){
		reg = /^[a-zA-ZąćęłńóśżźĄĆĘŁŃÓŚŻŹ]{2,20}$/;
		if (!val.match(reg)){
		document.getElementById("validname").innerHTML = "Enter the correct name";
		adduser.username.select();
		}
		else document.getElementById("validname").innerHTML = "";
		}
		function validateSurname(val){
		reg = /^[a-zA-ZąćęłńóśżźĄĆĘŁŃÓŚŻŹ]{2,20}$/;
		if (!val.match(reg)){
		document.getElementById("validsurname").innerHTML = "Enter the correct surname";
		adduser.usersurname.select();
		}
		else document.getElementById("validsurname").innerHTML = "";
		}
		function validateEmail(val){
		reg = /^[a-zA-Z0-9]{1,30}@[a-zA-Z0-9]+(\.[a-zA-Z0-9]+)+$/
		if (!val.match(reg)){
		document.getElementById("validEmail").innerHTML = "Enter the correct e-mail";
		adduser.useremail.select();
		}
		else document.getElementById("validEmail").innerHTML = "";
		}
		function validatePassword(val){

		var pass =adduser.userpassword.value;

		if((val!=pass) | (val.length==0)){
		document.getElementById("validPass").innerHTML = "Enter the correct password";
		adduser.userpassword.select();
		}
		else document.getElementById("validPass").innerHTML = "";
		}
