extends layout

block content
    div.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
        div.container
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            a.navbar-brand
                | Annonymous Survey App
            div.nav.navbar-nav.navbar-right
                    li
                        a(href='/creator') Create survey     
                    li
                        a(href='/changepassword') Change password
                    li
                        a(href="/") Log out
        div.collapse.navbar-collapse

    div(align='center', class='jumbotron')
        h1 Profile's panel
            each user in profile
                    h3 Hi  #{user.username}!
        hr
        div.row
            div.col-md-6(align='left')
                h3 Your surveys:
                ul
                each survey in surveys
                        li #{survey.surveyname} 
                            a.btn.btn-medium.btn-primary(href='/gotosurvey?id='+survey.surveyid) Fill or Check 
                            | &nbsp
                            if(survey.whoseeresult == "everywhoanswer" || survey.whoseeresult == "youandwhoanswer")
                                //input.btn.btn-medium.btn-primary(type='button', name='emailsubmit', value='Every who answer', onclick='writepasswordtoresult('+survey.surveyid+')')
                                a.btn.btn-medium.btn-primary(href='/result?survey='+survey.surveyid) Every who answer
                            else if(survey.whoseeresult == "everybody")
                                a.btn.btn-medium.btn-primary(href='/result?survey='+survey.surveyid) Everybody
                            else if(survey.whoseeresult == "onlyyou") 
                            div(class='passwordfield'+survey.surveyid)
                            p
            div.col-md-6(align='left')            
                h3 Surveys created by You:
                    br
                    each osurvey in surveysowner
                        table.auto
                            thead
                                th                     
                                th
                                th
                            tbody
                                    td.col-md-9
                                        h5 #{osurvey.surveyname}
                                    |    
                                    td.col-md-1
                                        a.btn.btn-medium.btn-info.btn-sm(href='/result?survey='+osurvey.surveyid) Result
                                    |                     
                                    td.col-md-2
                                        a.btn.btn-medium.btn-primary.btn-sm(href='/chooseuser?survey='+osurvey.surveyid) Invite more people
                                br  
    script(type='text/javascript').
        function writepassword(n){
            var input = '<br><form action="/fillorcheck" method="post" id="form1"><input type="hidden" name="yoursurveyid" value='+n+'><input type="password" name="yourpassword" placeholder="Enter you password here"><button class="btn btn-medium btn-info" type="submit" form="form1" value="fillorcheck">Fill or Check</button></form>';
            var x = document.getElementsByClassName("passwordfield"+n);
            x[0].innerHTML = input;
        }
        function writepasswordtoresult(n){
            var input = '<form action="/result?survey='+n+'" method="post" id="form2"><input type="hidden" name="yoursurveyid" value='+n+'><input type="password" name="yourpassword" placeholder="Enter you password here"><button class="btn btn-medium btn-info" type="submit" form="form2" value="checkresult">Check result</button></form>';
            var x = document.getElementsByClassName("passwordfield"+n);
            x[0].innerHTML = input;
        }