extends layout

block content
    div(align='center')
        h1 Profile's panel
            each user in profile
                    h3 Hi  #{user.username}!
        hr
        h3 Your surveys:
        ul
        each survey in surveys
                li #{survey.surveyname} 
                    input(type='button', name='emailsubmit', value='Fill or Check', onclick='writepassword('+survey.surveyid+')') 
                    a(href='/result?survey='+survey.surveyid) Result
                    p(class='passwordfield'+survey.surveyid)
        hr
        h3 Surveys created by You:
        ul
        each osurvey in surveysowner
                li #{osurvey.surveyname}  
                    a(href='/result?survey='+osurvey.surveyid) Result 
        hr
        a(href='/creator') Create your own survey!
    script(type='text/javascript').
        function writepassword(n){
            var input = '<form action="/fillorcheck" method="post"><input type="hidden" name="yoursurveyid" value='+n+'><input type="password" name="yourpassword" placeholder="Enter you password here"><input type="submit" name="yoursubmit" value="OK"></form><br>';
            var x = document.getElementsByClassName("passwordfield"+n);
            x[0].innerHTML = input;
        }