extends layout
	
block content
	div(align='center', class='jumbotron')
		h1 Survey's question is:
		h1= result[0]
		h2= result[1] 
		h1 persons participeted in this survey.
		h2= result[2] 
		h1 said "Yes".
