extends layout

block content
    h1.
        User List
    ul
        each user in userlist
            li
                h1= user.useremail
                h2= user.username
                h3= user.userpassword

                a(href="mailto:#{user.useremail}")= user.username
