extends layout

block content
    h1.
        User List
    ul
        each user in userlist
            li
                h1= user.email
                h2= user.username
                h3= user.password
